body{
    font-family: Arial;
}
.inbox{
    border: 1px solid lightgrey;
    width: 400px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}
.whole-bottom{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    
}
.pfp img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    flex: 1;

}
.title-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -16px;
    margin-bottom: -16px;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.under-title{
    font-weight: bold;
    font-size: 16px;
}
.time{
    color: rgb(164, 163, 163);
    margin-right: 5px;
}
.paragraph{
    margin-top: 5px;
    color: rgb(164, 163, 163);
    font-size: 14px;
}