.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-top: 8px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(182, 180, 180);
    border-bottom-style: solid;
    z-index: 2;

}
.left{
    display: flex;
    align-items: center;
    width: 260px;
    flex-shrink: 0;
}
.youtube-logo{
    width: 100px;
}
.humburger-icon{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -5px;
    border-radius: 50%; 
}
.humburger-icon img{
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.upload-icon img,
.upload-icon img,
.apps-icon img,
.notify-icon img{
    width: 26px;
}

    



.middle{
    display: grid;
    grid-template-columns: 450px 70px 40px;
    align-items: center;
    margin-left: 65px;
    margin-right: 20px;
}
.search{
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    padding: 5px;
    font-size: 15px;
    height: 30px;
    flex: 1;
    margin-bottom: 20px;
    margin-top: 10px;
    border-style: solid;
}
.search-button{
    height: 42px;
    margin-bottom: 10px;
    margin-right: 6px;
    border-width: 1px;
    border-left-width: 0px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    background-color: f7f7f7;
}
.search-button,
.voice-search,
.upload-icon,
.apps-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;    
}
.search-button .absolute,
.voice-search .absolute,
.upload-icon .absolute,
.apps-icon .absolute,
.notify-icon .absolute{
    position: absolute;
    background-color: grey;
    color: white;
    bottom: -45px;
    padding: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;    
}
.voice-search .absolute{
    white-space: nowrap;
}
.search-button:hover .absolute,
.voice-search:hover .absolute,
.upload-icon:hover .absolute,
.apps-icon:hover .absolute,
.notify-icon:hover .absolute{
    opacity: 0.8;
}

.search-button:active{
    background-color: rgb(232, 232, 232);
}
.mglass{
    height: 20px;
    vertical-align: middle;
}





.voice-search{
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
}
.right{
    height: 100%;
    display: flex;

}


.upload-icon{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50%; 
    cursor: pointer;
}



.apps-icon{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
}









.notify-icon{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%; 
    cursor: pointer;
    position: relative;
}
.notify-icon:hover,
.apps-icon:hover,
.upload-icon:hover{
    background-color: lightgrey;
}




.notify-num{
    position: absolute;
    top: 6px;
    right: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 50%;
    background-color: red;
    font-size: 12px;
    font-family: Arial;
    color: white;
}
.account{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    border-radius: 50%; 
    cursor: pointer;
}
.account img{
    width: 35px;
}
   